@font-face {
  font-family: 'jetbrains_monoregular';
  src: url('jetbrainsmono-regular-webfont.woff2') format('woff2'),
       url('jetbrainsmono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

main {
  height: 100%;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.card {
  width: 340px;
  height: 470px;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 0 6px 2px rgba(255, 230, 0, 0.75), 0 35px 25px -15px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 20px 10px;
  will-change: transform;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(0%, 0%, -400px);
          transform: translate3d(0%, 0%, -400px);
}
.card:hover {
  z-index: 2;
}

.card.jonin {
  background-image: url(https://i.imgur.com/vNfQSY0.png);
}

.card.rita {
  background-image: url(https://i.imgur.com/EYButka.png);
}

.card.ende {
  background-image: url(https://i.imgur.com/epOPnDq.png);
}
.card:before, .card:after {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(115deg, transparent 0%, #00e7ff 30%, #ff00e7 70%, transparent 100%);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  mix-blend-mode: color-dodge;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: holoGradient 15s ease infinite;
          animation: holoGradient 15s ease infinite;
}

.card:after {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
  background-position: center;
  background-size: 180%;
  mix-blend-mode: color-dodge;
  opacity: 0;
  z-index: 2;
  -webkit-animation: holoSparkle 20s ease infinite;
          animation: holoSparkle 20s ease infinite;
}

.card.active:before {
  opacity: 0.5;
  -webkit-animation: none;
          animation: none;
  -webkit-transition: none;
  transition: none;
  background-image: linear-gradient(115deg, transparent 0%, transparent 25%, #00e7ff 45%, #ff00e7 55%, transparent 70%, transparent 100%);
}

@-webkit-keyframes holoSparkle {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.2;
  }
}

@keyframes holoSparkle {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.2;
  }
}
@-webkit-keyframes holoGradient {
  3% {
    opacity: 0;
  }
  5% {
    background-position: 0% 0%;
  }
  7% {
    opacity: 0.5;
  }
  9% {
    background-position: 100% 100%;
  }
  11% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 100% 100%;
  }
  55% {
    opacity: 0.3;
  }
  70% {
    opacity: 0;
    background-position: 0% 0%;
  }
}
@keyframes holoGradient {
  3% {
    opacity: 0;
  }
  5% {
    background-position: 0% 0%;
  }
  7% {
    opacity: 0.5;
  }
  9% {
    background-position: 100% 100%;
  }
  11% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 100% 100%;
  }
  55% {
    opacity: 0.3;
  }
  70% {
    opacity: 0;
    background-position: 0% 0%;
  }
}
body {
  color: white;
  background: #151515;
  font-family: 'jetbrains_monoregular';
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}

html {
  height: 100%;
}

h1 {
  color: #ff0092 !important;
  margin-top: 30px;
  font-size: 100px;
}

h3 {
  font-size: 40px;
}